<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to topic.category.name, topic.category %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td colspan="5">
          <% Project.where(category_id: topic.category.id)
   .map { |project| [project, VoteItem.where(topic: topic, project: project).count] }
   .sort_by { |(project, score)| -score }
   .each do |(project, score)| %>
  <%= project.name %>
  <%= score %>
  <br>
<% end %>
  <hr>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
