<%= form_for(@vote_item) do |f| %>
  <% if @vote_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_item.errors.count, "error") %> prohibited this vote_item from being saved:</h2>

      <ul>
      <% @vote_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic_id %><br>
    <%= f.text_field :topic_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :vote_id %><br>
    <%= f.text_field :vote_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
