<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>

    <% Category.all.each do |category| %>
    <hr>
      <h2><%= category.name %> </h2>
      <% category.topics.each do |topic |%>
        <!-- <%= category.projects %> -->
        <h3><%= topic.name %></h3>

        <% category.projects.each do |project|%>
          <label><input name="v[<%= topic.id %>]" value="<%= project.id %>" type="radio"> <%= project.name %></label>
          <br>




        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
